layout name="Focus" {
	pane split_direction="vertical" {
		pane size=90 {
			pane name="ncspot" command="ncspot"
			pane name="btop" borderless=true command="btop" args="-p 2" size=24
		}
		pane focus=true
	}
}
