layout {
	pane split_direction="vertical" {
		pane size="30%" command="bacon" args="test" name="Test Area"
		pane size="70%" stacked=true {
			pane name="Command Area"
			pane command="mc" name="Working Area" focus=true
		}
	}
}
