layout {
    tab name="Scrapyard" {
        pane split_direction="vertical" {

            pane size="30%" name="Lab" command="bacon" {
                args "test"
            }

            pane size="70%" stacked=true {

                pane  name="Building Site" focus=true {
                    command "ranger"
                        args "./src"
                }

                pane name="Office" command="ranger" {
                    args "./backlog"
                }

                pane name="Headquarter"
            }
        }
    }
}
