layout {
    tab name="Home" {

        pane split_direction="vertical" {

                pane size="30%" stacked=true {
                    pane name="Background"
                    pane name="Sidebar"
                }

                pane size="70%" stacked=true {
                pane name="Command"
                pane name="File Manager" command="ranger" focus=true
            }
        }
    }
}
