/*

!/.config/

/.config/*

!/.config/fish/
!/.config/qtile/
!/.config/mc/
/.config/mc/ini
!/.config/nvim/
!/.config/zellij/
!/.config/ranger/

.config/qtile/__pycache__/
.config/qtile/autostart.sh
.config/ranger/colorschemes/__pycache__/


!/.config/ncspot/
/.config/ncspot/userstate.cbor

!/scripts/

!.alacritty

!/.newsboat/
/.newsboat/cache.db
