/*

!/.config/

/.config/*

!/.config/fish/
!/.config/qtile/
!/.config/mc/
/.config/mc/ini
!/.config/nvim/
!/.config/zellij/
!/.config/ranger/

!/.config/ncspot/
/.config/ncspot/userstate.cbor

!/scripts/

!.alacritty
